// color
$color-pri: #559AC8;
$color-second: #8A82CC;
// $color-danger: #d0021b;
$color-highlight: #FFD366 ;
// $color-bg-select: #fff2dc;
// $color-bg-unselected: #f2f2f2;
// $color-status: #c8c8c8;
// $color-gray: #757575;
$color-content: #4A4A4A;
$color-white: #ffffff;
$color-black: #000000;
// $color-lightgray: #e1e1e1;
//font
$font-family: "微軟正黑體", sans-serif;
$font-size-base: 16;
